<div class="sidebar">
    <nav class="sidebar-nav">
      <a href="/admin/pages"><img src="/assets/icons/file.svg" class="icon" /> Pages</a>
      <a href="/admin/menu"><img src="/assets/icons/menu.svg" class="icon" /> Menu</a>
      <a href="/admin/media"><img src="/assets/icons/image.svg" class="icon" /> Media</a>
      <a href="/admin/widgets"><img src="/assets/icons/grid.svg" class="icon" /> Widgets</a>
      <a href="/admin/themes"><img src="/assets/icons/layout.svg" class="icon" /> Themes</a>
    </nav>
  </div>
  