/* =============================================================================
   Cards (optional)
   ============================================================================= */

   .app-scope {
    .card {
      background-color: var(--color-white);
      border-radius: 8px;
      box-shadow: var(--shadow-card);
      padding: 16px;
      position: relative;
  
      &--paragraph {
        background-color: #F3E8FF;
      }
  
      &--quote,
      &--image {
        border: 2px solid var(--gradient-primary);
      }
    }
  }
  