/* =============================================================================
   Fonts
   ============================================================================= */

   @font-face {
    font-family: 'Noto Sans Variable';
    src: url('../fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
  }
  @font-face {
    font-family: 'Noto Sans Variable';
    src: url('../fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: italic;
  }
  @font-face {
    font-family: 'Open Sans Variable';
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
  }
  @font-face {
    font-family: 'Open Sans Variable';
    src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: italic;
  }
  

  /* ================================
   Google Fonts imports (zentral)
   ================================ */

/* OpenAI Sans ähnliche Fonts */

/* Manrope (aktiviert) */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

/* Work Sans (deaktiviert) */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap'); 

/* Plus Jakarta Sans (deaktiviert) */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap'); 

/* Sora (deaktiviert) */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap')